<section class="flex flex-col mt-[50px] items-center justify-center mb-20 md:flex md:flex-col md:ml-10 md:mt-[100px] md:items-center md:justify-center md:mb-20 xl:flex xl:flex-col xl:ml-40 xl:mt-[100px] xl:max-w-[800px] xl:mb-20 xl:items-start">

    <div class="hidden xl:hidden md:flex md:flex-row md:items-center md:justify-center md:gap-x-5 md:mb-10">
        <img src="/Proyecto-11-Online-Forum/assets/imagetablet.png" alt="Persona">
    </div>
    <div class="md:hidden xl:hidden flex flex-row items-center justify-center mb-10">
        <img src="/Proyecto-11-Online-Forum/assets/imagemobile.png" alt="Persona">
    </div>

    <h1 class="text-principal font-merriweather text-center text-[30px] ml-2 mr-2 mb-2 md:text-[50px] md:text-center md:mb-5 xl:text-[80px] font-bold xl:mb-5 xl:text-start xl:ml-0 xl:mr-0">Build your best community starting from here.</h1>
    <p class="text-secundario xl:text-[24px] font-poppins xl:mb-10 md:mr-10 md:ml-10 md:text-center md:text-[22px] text-center mr-2 ml-2 xl:text-start xl:mr-0 xl:ml-0">Meet and communicate with the best people to run projects, events or other activities in a more effective and fun way</p>
    
    <div class="flex flex-col items-center gap-y-4 mt-20 xl:flex xl:flex-row xl:items-center xl:justify-between md:flex md:flex-row md:items-center md:justify-between xl:max-w-[500px] md:mt-10 md:gap-x-20 xl:mr-0 xl:ml-0">
        <a href="#" class="text-principal bg-boton hover:bg-botonhover transition-colors duration-300 py-5 px-20 rounded-3xl rounded-bl-none xl:text-[18px] md:text-[22px]  font-poppins animate-bounce">Get started</a>
        <div class="flex flex-row items-center gap-x-2 animate-pulse">
            <a href="#" class="text-principal underline font-poppins text-[18px] md:text-[20px]">Learn More</a>
            <img src="/Proyecto-11-Online-Forum/assets/flecha.svg">
        </div>
    </div>
</section>