<section class="flex flex-col items-center md:ml-20 md:flex md:flex-row md:items-center md:justify-between md:max-w-full md:mr-20 md:mb-28 xl:ml-40 xl:flex xl:flex-row xl:items-center xl:justify-between xl:max-w-[550px]">
    <article class="flex flex-col items-center gap-y-4 md:flex md:flex-row md:items-center md:gap-x-3 xl:flex xl:flex-row xl:items-center xl:gap-x-3 xl:max-w-[180px] mb-20">
        <img class="bg-secundario p-2 rounded-xl" src="/Proyecto-11-Online-Forum/assets/comments.svg" alt="Community">
        <h2 class="text-principal font-poppins md:text-[20px]">Build Community</h2>
    </article>
    <article class="flex flex-col items-center gap-y-4 md:flex md:flex-row md:items-center md:gap-x-3  xl:flex xl:flex-row xl:items-center xl:gap-x-3 xl:max-w-[150px] mb-20">
        <img class="bg-secundario p-2 rounded-xl" src="/Proyecto-11-Online-Forum/assets/schedule.svg" alt="Events">
        <h2 class="text-principal font-poppins md:text-[20px]">Share Events</h2>
    </article>
    <article class="flex flex-col items-center gap-y-4 md:flex md:flex-row md:items-center md:gap-x-3  xl:flex xl:flex-row xl:items-center xl:gap-x-3 xl:max-w-[150px] mb-20">
        <img class="bg-secundario p-2 rounded-xl" src="/Proyecto-11-Online-Forum/assets/post.svg" alt="Information">
        <h2 class="text-principal font-poppins md:text-[20px]">Get Information</h2>
    </article>
</section>